@font-face {
    font-family: "shabnam";
    src: url("./fonts/Shabnam-FD.woff2") format("woff2");
  }
  .form {
      display: grid;
      background-color: white;
      padding: 10px 25px;
      width: 80%;
      font-family: shabnam;
      margin: 7rem auto 2rem;
      border-radius: 4px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      text-align: center;
      color: black;
      
  }
  .formDashboard {
    
    display: grid;
    background-color: white;
    padding: 10px 25px;
    width: 40%;
    font-family: shabnam;
    margin: 7rem auto 2rem;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    text-align: center;
    color: black;
    
  }
  
  .lbLogin {
    font-size:larger;
    font-weight:bold;
    font-family: shabnam;
   
    text-align: left;
    direction: ltr;
    color: #3c2415;
  }
    .texts {
      font-size:xx-large;
      font-weight:bold;
      font-family: shabnam;
      margin-top: 40px;
      text-align: right;
      direction: rtl;
      color: #3c2415;
    }
    .lbCodeMeli {
      font-size:medium;
      font-weight:bold;
      font-family: shabnam;
      margin-top: 40px;
      margin-right: 35px;
      text-align: left;
      direction: rtl;
      color: #3c2415;
    }
  
    .lbMobile {
      font-size:medium;
      font-weight:bold;
      font-family: shabnam;
      margin-top: 40px;
      margin-right: 10px;
      text-align: left;
      direction: rtl;
      color: #3c2415;
    }
    .lbFamily {
        font-size:medium;
        font-weight:bold;
        font-family: shabnam;
        margin-top: 40px;
       
        text-align: left;
        direction: rtl;
        color: #3c2415;
      }
    .lbRequest {
      font-size:medium;
      font-weight:bold;
      font-family: shabnam;
      margin-right: 15px;
      text-align: left;
      direction: rtl;
      color: #3c2415;
      margin-top: 20px;
    }
    .lbName {
      font-size:medium;
      font-weight:bold;
      font-family: shabnam;
      margin-right: 60px;
      text-align: left;
      direction: rtl;
      color: #3c2415;
      margin-top: 20px;
    }
   
  .input {
      font-family: shabnam;
      font-size: 20px;
      padding: 13px;
      background-color: white;
      color: black;
      border-radius: 3px;
      border: 1px solid black;
      direction: rtl;
      margin-top: 20px;
      margin-right: 10px;
     
  }
  
  .inputRequest {
      font-family: shabnam;
      font-size: 20px;
      padding: 13px;
      background-color: white;
      color: black;
      border-radius: 3px;
      border: 1px solid black;
      direction: rtl;
      margin-top: 30px;
      margin-right: 10px;
      width: 91%;
      top: 10px;
   
  }
  
  
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 30px;
    font-family: shabnam;
    border: none;
    cursor: pointer;
    margin-top: 1%;
    text-align: center;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
    
  .btn {
      padding: .8rem;
      cursor: pointer;
      color: white !important;
      font-family: shabnam;
      background-color: rgb(52, 24, 14);
      margin-top: 40px;
      font-size: 25px;
  }
  
  
  .form span {
      text-align: right;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 20px;
  }
  
  .back_to_login {
      font-size: 13px;
      text-align: center;
      margin-top: 1rem;
      cursor: pointer;
      margin-bottom: 3rem;
  }
  
  .redirect_to_home {
      display: block;
      width: max-content;
      margin: 0 auto;
      cursor: pointer;
      font-family: shabnam;
      font-size: 13px;
      color: rgb(52, 24, 14);
  }
  .lbarea{
    display: flex;
    align-items: center;
  
  }
  
  .combobox{
    display: flex;
    align-items:center;
    margin-top: 20px;
  
  }
  .divcombo {
    font-family: shabnam;
    font-size: 20px;
    
    background-color: white;
    color: black;
    border-radius: 3px;
    border: 1px solid black;
    direction: rtl;
    margin-top: 30px;
    margin-right: 40px;
    width: 263px;
    top: 10px
  }
  /* ////////////////////////////////////////// */
  
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}